{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "rules": {
    "prefer-const": "off",
    "no-var": "off",
    "no-inline-comments": "error",
    "no-unused-vars": "off",
    "array-bracket-spacing": "off"
  }
}
