{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "rules": {
    "prefer-const": "off",
    "no-var": "off",
    "no-inline-comments": "off",
    "no-unused-vars": "off",
    "no-alert":"off",
    "no-undef":"off",
    "array-callback-return" :"off"
  }
}
