<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span>系统管理</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/admin/system/upload_file" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label for="sitename">网站标题：</label>
        </div>
        <div class="field">
            <input type="text" class="input" value="<%= data.title %>"  id="mpass" name="title" size="50" placeholder="请输入网站标题" data-validate="required:请输入网站标题！" />       
        </div>
      </div>         
      <div class="form-group">
        <div class="label">
          <label for="sitename">网站关键字：</label>
        </div>
        <div class="field">
          <input type="text" class="input" value="<%= data.keywords %>" id="mpass" name="keywords" size="50" placeholder="请输入网站关键字" data-validate="required:请输入网站关键字！" />       
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">网站描述：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="description" value="<%= data.description %>" size="50" placeholder="请再次输入密码" data-validate="required:请输入网站描述！" />         
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">网站logo：</label>
        </div>
        <div class="field">
          <input type="file" name="logo" class="input" id="">
          <img src="<%= data.logo %>">
          <input name="logo" value="<%= data.logo %>" type="hidden">
        </div>
      </div>
      <div class="form-group">
          <div class="label">
            <label for="sitename">网站版权：</label>
          </div>
          <div class="field">
              <input type="text" class="input" value="<%= data.copyright %>" id="mpass" name="copyright" size="50" placeholder="请输入网站版权信息" data-validate="required:请输入网站版权信息！" />       
          </div>
        </div>
        <div class="form-group">
            <div class="label">
              <label for="sitename">网站备案信息：</label>
            </div>
            <div class="field">
                <input type="text" class="input" value="<%= data.record %>" id="mpass" name="record" size="50" placeholder="请输入网站备案信息" data-validate="required:请输入网站备案信息！" />       
            </div>
          </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body>
</html>