<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/public/admin/css/pintuer.css">
<link rel="stylesheet" href="/public/admin/css/admin.css">
<script src="/public/admin/js/jquery.js"></script>
<script src="/public/admin/js/pintuer.js"></script>
</head>
<body>
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder">分类列表</strong>
    <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="/admin/blogstype/add"> 添加分类</a> </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th>分类名称</th>
        <th>分类排序</th>
        <th width="310">操作</th>
      </tr>
      <% rows.forEach(item => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><input type="number" value="<%= item.sort %>" style="width: 80px;text-align: center;"></td>
          <td>
          <div class="button-group"> 
            <a class="button border-main" href="/admin/blogstype/edit?id=<%= item.id %>"><span class="icon-edit"></span> 修改</a> 
            <a class="button border-red" href="javascript:void(0)" onclick="del(this,<%= item.id %>)"><span class="icon-trash-o"></span> 删除</a> 
          </div>
      </td>
    </tr>
      <% }) %>
    </table>
  </div>
</body>
<script>
  // 无刷新删除数据--ajax
 function del(obj,id){
    // 确认框
    if (confirm("您确认要删除？")) {
      // 发送ajax请求删除
      $.get("/admin/blogstype/ajax_del",{id:id},function(data){
        // 判断是否删除成功
        if (data==1) {
          $(obj).parents("tr").remove();
        }else{
          alert("删除失败");
        }
    })
 }
}
</script>
</html>