<footer class="footer text-center py-2 theme-bg-dark">
    <!-- 回到顶部图标 -->
    <div class="top">
        <img src="/public/home/images/top.png" alt="回到顶部图片" title="回到顶部">
    </div>
    <small>Copyright © 2019 Shixtao</small>
    <br>
    <small><a href="http://www.beian.miit.gov.cn" target="_blank"><%= webConfig.record %></a></small>
    <br>
    <small>Powered By express 4</small>
    <br>
    <small>
	<!-- <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1278258240'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/z_stat.php%3Fid%3D1278258240%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
	    </script> -->
    </small>
</footer> 