<header class="header text-center">	    
    <h1 class="blog-name pt-lg-4 mb-0"><%= webConfig.title %></h1>        
    <nav class="navbar navbar-expand-lg navbar-dark" >         
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="<%= webConfig.logo %>" alt="小涛,帅哥,logo图" width="120px" height="120px" >								
                <div class="bio mb-3">Hi, my name is Anthony Doe. <br><a href="about.html">Find out more about me</a></div>
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="#"><i class="iconfont icon-qq"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="iconfont icon-weixin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="iconfont icon-github"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="iconfont icon-youxiang"></i></a></li>
                </ul>
                <hr> 
            </div>			
            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="iconfont icon-shouye"></i>&nbsp;博客首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog-post.html"><i class="iconfont icon-bokeyuan"></i>&nbsp;博客文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="iconfont icon-guanyu"></i>&nbsp;关于作者</a>
                </li>
            </ul>				
            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="#" target="_blank">Get in Touch</a>
            </div>
        </div>
    </nav>
</header>