<meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= webConfig.description %>">
    <meta name="keywords" content="<%= webConfig.keywords %>">
    <meta name="baidu-site-verification" content="H91h9G7RRd" >	
    <meta name="author" content="shixtao">
    <script>
    //颜色保存于localstorage中
    function colorSet(){
    var color = localStorage.getItem('color')
    $('.header').css('backgroundColor',color)
    $('.nav-link').css('backgroundColor',color)
    $('.btn-primary').css({
        'backgroundColor':color,
        'borderColor':color
        })
    $('.list-inline-item a').css('color',color)
    $('.more-link').css('color','#6C51A4')
}
    </script>
    <link id="theme-style" rel="stylesheet" href="/public/home/css/index.css">
    <link rel="shortcut icon" href="/public/home/images/favicon.ico">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1611091_vrwagneyj2.css">
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <title><%= webConfig.title %></title>