<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="<%= webConfig.description %>">
<meta name="keywords" content="<%= webConfig.keywords %>">
<!--<meta name="baidu-site-verification" content="H91h9G7RRd">-->
<meta name="author" content="shixtao">
<link id="theme-style" rel="stylesheet" href="/public/home/css/index.css">
<link rel="shortcut icon" href="/public/home/images/favicon.ico">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1611091_k3rjchrrrgp.css">
<script>
    //颜色保存于localstorage中
    function colorSet() {
        var color = localStorage.getItem('color')
        if (color) {
            $('.header').css('backgroundColor', color)
            $('.nav-link').css('backgroundColor', color)
            $('.btn-primary').css({
                'backgroundColor': color,
                'borderColor': color
            })
            $('.list-inline-item a').css('color', color)
            $('.more-link').css('color', '#6C51A4')
        }
    }
</script>
<!--[if lt IE 10]>
        <p style="text-align:center;color:red;">您的浏览器版本过低，请使用更高版本的浏览器来获取更好的体验！
        使用<a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank">Google Chrome</a>
        </p>
<![endif]-->
<title><%= webConfig.title %></title>